html {
    height: 100%;
    background: linear-gradient(#123 30%, #667);
    overflow: hidden;
}

.snow_front {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("1.png"), url("2.png"), url("3.png");
    animation: snowfall 20s linear infinite;
}



@keyframes snowfall {
    0%{
        background-position: 0 0, 0 0, 0 0;
    }
    100%{
        background-position: -500px 1000px, -400px 400px, 300px 300px;
    }
}

/* .snow_back {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("3.png");
    animation: snowfall_back 20s linear infinite reverse;
}

@keyframes snowfall_back {
    0%{
        background-position: 0 0, 0 0, 0 0;
    }
    100%{
        background-position: 300px 300px, 400px 400px, 1000px 500px;
    }
} */